
.form{
    padding: 2rem;
    margin: 5rem 20% 0 20%;
    font-weight: bold;
    background: radial-gradient(circle, rgb(57, 5, 87) 0%, rgba(155, 22, 143, 0.685) 80%);
    border: white solid;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    justify-content: flex-end;
}
.form-input{
    line-height: 2rem;
    border-radius: 1rem;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 2rem;
    color: #050e3d;
    display: block;
    align-content: flex-start;
    
}
.form label{
    margin-top: 2rem;
    color: white;
    width: 100%;
   
}

.form-input--entrar{
    padding: 5px 30px 5px 30px;
    border-radius: 2rem;
    background-color: rgb(57, 5, 87);
    color: white;
    border: 2px solid white;
    display: flex;
}